body {
  font-family: Verdana, sans-serif;
  background-color: rgba(40, 44, 52, 0.8);
  background: url(../images/jason-leung-poI7DelFiVA-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #daf1de;
  scroll-behavior: smooth;
}

.side-bar {
  background-color: rgba(11, 43, 38, 0.8);
  min-width: 250px;
  height: auto;
}

.card {
  background-color: rgba(40, 44, 52, 0.8);
  margin-bottom: 2%;
}

.list-group-item {
  background-color: rgba(40, 44, 52, 0.8);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.9);
}